<ion-header>
  <ion-toolbar color="dark">
    <ion-icon slot="end" style="width:80px;height: 35px;"name="alert-circle-outline"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img class="logo" src="assets/icon/duoc.png"></ion-img>

  <ion-text color="primary" class="ion-text-center">
    <h4 id="inicio">Cambiar contraseña</h4>
  </ion-text>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">User</ion-label>
      <ion-input type="email" name="mail" [(ngModel)]="usuario.correo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input required type="password" name="pass" [(ngModel)]="usuario.password" ></ion-input>
    </ion-item>
    <ion-button (click)="presentToast2()" id="recuperar"expand="full" color="success"
      type="submit" [disabled]="form.invalid" routerLink="/login" class="ion-margin-top">
      Cambiar contraseña
    </ion-button>
  </form>
</ion-content>

