#login {
    margin-top: 35px;
    padding-left: 10px;
    width: 350px;
    font-size: 18px;

}


#cuenta {
    margin-top: 20px;
    padding-left: 10px;
    
}

#user {
    margin-top: 10px;
}

.logo {
    height: 280px;
}

#inicio{
    font-size: 23px;
}

.toolbar{
    background-color: blue;
}