<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
        <ion-icon slot="end" name="close" size="large" class="ion-padding" (click)="cerrarMenu()"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item  detail routerLink="/home" (click)="cerrarMenu()">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          Inicio
        </ion-item> 
      </ion-list>
      <ion-list>
        <ion-item  detail routerLink="/asignaturas" (click)="cerrarMenu()">
          <ion-icon slot="start" name="newspaper-outline"></ion-icon>
          Asignaturas
        </ion-item> 
      </ion-list>
      <ion-list>
        <ion-item  detail routerLink="/login" (click)="cerrarMenu()">
          <ion-icon slot="start" name="enter-outline"></ion-icon>
          Cerrar sesión
        </ion-item> 
      </ion-list>
      <ion-list>
        <ion-item  detail href="https://drive.google.com/drive/u/0/my-drive" (click)="cerrarMenu()">
          <ion-icon slot="start" name="download-outline"></ion-icon>
          Descargar
        </ion-item> 
      </ion-list>
    </ion-content>
  </ion-menu>

  
  <ion-router-outlet id="main"></ion-router-outlet>
  
</ion-app>